:root {
    --color-blue-dark: #50808E;
    --color-blue-light: #69A297;
    --color-green-blue: #84B59F;
    --color-green-light: #A3C9A8;
    --color-tan: #DDD8C4;
    --color-white: #FFFFEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #FFF;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-blue-dark);
    display: grid;
    grid: "header" 7.4rem
          "main" 1fr
          "footer" max-content / 1fr;
}

body > header,
body > main,
body > footer {
    padding: 0 1em;
}

body > header {
    background: var(--color-green-light);
    z-index: 1;
    grid-area: header;
    display: grid;
    grid: 4rem / 1fr 4rem;
    column-gap: 1rem;
    align-content: center;
    align-items: center;
}

body > header > a {
    display: flex;
    align-items: center;
}

body > header > a > img {
    height: 3rem;
}

body > header > img {
    cursor: pointer;
}

body > main {
    background: var(--color-white);
    grid-area: main;
    display: grid;
    grid: "store-search" max-content
          "main-delivery" max-content
          "store-list" 1fr / 1fr;
    row-gap: 2.4rem;
    padding-top: 1.5em;
}

.store-search-container {
    grid-area: store-search;
}

.store-search-container > form {
    border-bottom: 1px solid var(--color-blue-dark);
    display: grid;
    grid: max-content / 3rem 1fr;
    align-items: center;
}

.store-search-container > form > img {
    width: 3rem;
    height: 3rem;
}

.store-search-container input {
    border: none;
    outline: none;
    padding: 0.4em;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2em;
    background: transparent;
    color: var(--color-blue-light);
}

.store-search-container input::placeholder {
    color: var(--color-blue-light);
    font-weight: normal;
}

.main-delivery-container {
    grid-area: main-delivery;
    padding-top: 1em;
    display: grid;
    grid: repeat(2, max-content) / auto-flow minmax(max-content, 1fr) minmax(max-content, 3fr);
    gap: 0.5em;
}

.main-delivery-label {
    color: #535331;
    font-weight: 400;
}

.main-delivery-choice {
    border: 1px solid var(--color-blue-dark);
    padding: 8px;
}

.store-list-container {
    grid-area: store-list;;
}

body > footer {
    background: var(--color-green-blue);
    color: var(--color-white);
    grid-area: footer;
}